<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HELLO MOTO</title>
    <link rel="stylesheet" href="css/style.css">
   
</head>
<body>
    <div id="main-container">
        <form action="/add" method="post">
            <input type="text" name="nombre" placeholder="Ingresa tu nombre">
            <input type="text" name="correo" placeholder="Ingresa tu correo">
            <input type="text" name="kilometros"  placeholder="Ingresa los kilometros">
            <input type="submit" value="aceptar">
        </form>
{{dato}}
        <div id="todos">
        <table class="table table-dark">
            <thead>
                <tr>
                
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Kilometros</th>
                </tr>
            </thead>
            <tbody>
             {{#datos}}    
                 <tr>          
                    <td>{{nombre}}</td>
                    <td>{{correo}}</td>
                    <td>{{kilometros}}</td>
                </tr>
             {{/datos}}
               
                
            </tbody>
        </table>
        
        </div>
    </div>


</body>
</html>